.cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
    overflow-y: auto;

    /* 스크롤바 커스텀 스타일 */
    &::-webkit-scrollbar {
        width: 8px;
        /* 스크롤바의 너비 */
    }

    &::-webkit-scrollbar-thumb {
        background: #333;
        /* 어두운 검은색 */
        border-radius: 10px;
        /* 스크롤바 끝을 둥글게 */
    }

    &::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(45deg, #d9598c, #567ace);
        /* 호버 효과 */
    }

    &::-webkit-scrollbar-track {
        background: #f0f0f0;
        /* 스크롤 트랙 배경 */
        border-radius: 10px;
    }

    .empty-message {
        font-size: 18px;
        margin: 50px auto;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    button {
        margin-top: auto;
    }
}